{% extends 'base.html.twig' %}



{% block body %}
<div class="example-wrapper">
    <div class="container text-center">
        <h1 class="h1 mb-4">Télécharger le CV</h1>
        <a href="{{ asset('image/classe.jpg') }}" download class="btn btn-primary">
            Télécharger le fichier
        </a>
        <br><br><br><br>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>


{% endblock %}
